.additional-list{
    position: relative;
    width: 100%;
}

.additional-list__title{
    background-color: #FFFFFF;
    font-family: Oswald;
    font-size: 24px;
    line-height: 24px;
    margin: 25px;
    margin-bottom: 36px;
}

.additional-list__greenline{
    margin-top: 14px;
    display: inline-block;
    border: 2px solid #68B738;
    width: 15%;
    float: right;
    top: 30px;
}
