.cat-energy{
    width: 320px;
    position: relative;
    background-image: url(../../img/index-background-desktop.png);
    background-repeat: no-repeat;
    padding-top: 417px;
    padding-left: 20px;
}

.cat-energy__back{
    display: flex;
    align-items: center;
    top: 0;

    position: absolute;
    flex-direction: column;
    width: 320px;
    height: 302px;
    left: 0px;
    background-color: rgba(104, 183, 56, 0.85);
}

.cat-energy__title{
    font-family: Oswald;
    font-weight: 100;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 27px;
    margin-left: 35px;
    margin-right: 35px;
}

.cat-energy__subtitle{
    font-family: Oswald;
    font-weight: 100;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: -5px;
    text-transform: uppercase;
}

.cat-energy-can {
    position: absolute;
    left: 20px;
    top: 167px;
}

.cat-energy__link{
    margin-top: 23px;
}

@media(min-width: 768px){
    .cat-energy{
        background-image: none;
        height: 800px;
        padding-top: 200px;
        padding-left: 69px;
    }

    .cat-energy__back{
        background-color: transparent;
        left: 117px;
        align-items: baseline;
        top: 23px;
    }

    .cat-energy__title{
        color: black;
        font-size: 60px;
        line-height: 60px;
        width: 414px;
        text-align: left;
        margin-left: 0;
        margin-bottom: 41px;
    }

    .cat-energy__subtitle{
        color: black;
        font-size: 20px;
        line-height: 20px;
        width: 283px;
        margin: 0;
    }

    .cat-energy-can{
        z-index: -1;
        top: 251px;
        left: 29px;
    }

    .cat-energy .cat-energy__link{
        margin-top: 79px;
        margin-left: 43px;
        width: 244px;
        height: 54px;
        font-size: 20px;
        line-height: 20px;

    }

}

@media(min-width: 1440px){
    .cat-energy{
        width: 1440px;
        background-image: url(../../img/rectangle.png), url(../../img/index-background-desktop1.png);
        background-repeat: no-repeat;
        padding-top: 480px;
        background-position: top right;
        // margin-top: -48px;
        padding-left: 190px;
    }

    .cat-energy-can{
        left: 558px;
        top: 141px;
        z-index: 1;
    }

    .cat-energy__back{
        left: 190px;
        top: 223px;
    }

    .cat-energy__link{
        margin: 0;
    }
}
