.cat-energy{
    width: 320px;
    height: 435px;
    position: relative;
}

.cat-energy__back{
    background: rgba(104, 183, 56, 0.85);
    position: absolute;
    width: 320px;
    height: 302px;
    left: 0px;
    z-index: -1;
}

.cat-energy__title{
    font-family: Oswald;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 27px;
    margin-left: 35px;
    margin-right: 35px;
}

.cat-energy__subtitle{
    font-family: Oswald;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 25px;
    margin-left: 60px;
    margin-right: 60px;
}