.catalog__list{
    list-style: none;
    padding: 0;
}

.catalog__item{
    display: flex;
    padding: 11px 20px 25px;
    border-bottom: 1px solid #EBEBEB;
    flex-wrap: wrap;
}

.catalog__item:first-of-type{
    border-top: 1px solid #EBEBEB;
}

.catalog__picture-wrapper, .catalog__itemtext{
    width: 50%;
}

.catalog__picture-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog__itemheader{
    font-family: Oswald;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    width: 76px;
    margin-bottom: 15px;
    color: #222222;
}

.catalog__table{
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    width: 100%;
    color: #444444;
}

.catalog__tableitem--linetext{
    text-align: right;
}

.catalog__heading{
    font-family: Oswald;
    font-size: 36px;
    line-height: 36px;
    margin-left: 20px;
    padding-top: 27px;
    margin-bottom: 41px;
}

.catalog__button{
    margin-top: 22px;
}

.catalog__show-more{
    font-family: Oswald;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #111111;
    margin: 0;
    padding-top: 20px;
}

.catalog__item--adding{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalog__small-text{
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;
    color: #444444;
    margin-bottom: 0;
}
