.collaboration{
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 19px;
    width: 320px;
}

.collaboration__subtitle{
    font-family: Oswald;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    width: 50%;
    font-weight: 400;
    line-height: 18px;
    color: #111111;
    text-transform: uppercase;
}

.collaboration__text{
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    width: 50%;
    color: #444444;
}

@media(min-width: 768px){
    .collaboration{
        flex-direction: row;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .collaboration__subtitle{
        width: 171px;
    }

    .collaboration__text{
        width: 160px;
    }
}

@media(min-width: 1440px){
    .collaboration{
        position: absolute;
        top: 95px;
        left: 110px;
        width: 570px;
        height: 201px;
        padding: 0 100px;
    }
}
