.exaple{
    padding: 0 20px;
    background-color: rgba(234, 234, 234, 1);
}

.example__subtitle{
    font-family: Oswald;
    font-size: 36px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 75px;
}

.example__text{
    width: 227px;
    font-family: Arial;
    font-size: 14px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 20px;
}

.example__item{
    width: 207px;
    font-family: Arial;
    font-size: 14px;
    padding-bottom: 20px;
}
