.footer{
    width: 320px;
    margin: 0 auto;
    outline: 2px solid blue;
    background-color: #F2F2F2;
    padding: 0 20px;
}

.footer__title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 39px 0 32px 0;
    border-bottom: 1px solid #D9D9D9;
}

.footer__title-image{
    background-image: url("../../img/footer-title.svg");
    width: 128px;
    height: 24px;
}

.footer__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 0 25px 0;
    border-bottom: 1px solid #D9D9D9;
}


.footer__socials-list{
    display: flex;
    align-items: center;
    width: 128px;
    justify-content: space-between;
    padding: 0%;
    margin: 0%;
}

.footer__socials-listitem{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 12px 0;
}

.footer__author-text{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__author-logo{
    align-items: center;
    justify-content: center;
}
