.header {
    width: 320px;
    margin: 0 auto;
    padding: 0 20px;
    border-bottom: 1px solid #D9D9D9;;
}

.header__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 0 11px 0;
    justify-content: space-between;
}

