.programm{
    padding: 0 20px;
}

.programm__list{
    list-style: none;
    padding: 0;
}

.programm__item{
    background: #F2F2F2;
    width: 280px;
    padding-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.programm__item-titleblock{
    display: flex;
    align-items: center;
}

.programm__item-title{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-left: 19px;
    text-transform: uppercase;
}

.programm__item-text{
    width: 227px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    border-bottom: 1px solid #D9D9D9;
    padding-bottom: 20px;
}

.programm__item-link{
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-top: 20px;
    text-transform: uppercase;
}

@media(min-width: 768px) {
    .programm__item-block{
        position: absolute;
        right: 62px;
        width: 200px;
        height: 211px;
        top: 92px;
    }
    .programm__item{
        padding-top: 77px;
        position: relative;
        width: 708px;
        min-height: 372px;
        padding-left: 52px;
        padding-right: 280px;
    }
    .programm{
        padding: 0 30px;
    }
    .programm__item-block--pantera{
        width: 268px;
        height: 200px;
        right: 28px;
    }
    .programm__item-title{
        margin-left: 0px;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 24px;
    }
    .programm__item-text{
        width: 100%;
        border: 0px;
        margin-top: 0;
        font-size: 16px;
        margin-bottom: 52px;
    }
}
