.section-head{
    font-family: Oswald;
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    padding-left: 20px;
}

.section{
    display: flex;
    flex-direction: column;
}

.section-text{
    font-family: Oswald;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 74px;
    margin-bottom: 39px;
}
