@import "blocks/cat-energy.less";
@import "blocks/programm.less";
@import "blocks/description.less";
@import "blocks/example.less";
@import "blocks/collaboration.less";
@import "blocks/main.less";
@import "blocks/header.less";
@import "blocks/footer.less";
@font-face {
    font-family: Oswaldregular;
    font-style: normal;
    font-weight: 400;
    src: local("Oswaldregular"),
         url("/fonts/oswaldregular.woff2") format("woff2"),
         url("/fonts/oswaldregular.woff") format("woff");
}

@font-face {
    font-family: Oswaldmedium;
    font-style: normal;
    font-weight: 400;
    src: local("Oswaldregular"),
         url("/fonts/oswaldmedium.woff2") format("woff2"),
         url("/fonts/oswaldmedium.woff") format("woff");
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    src: local("Oswaldregular"),
         url("/fonts/oswaldmedium.woff2") format("woff2"),
         url("/fonts/oswaldmedium.woff") format("woff");
}
